.contact-container {
  @include center;
  flex-direction: column;
  padding-top: 3.12rem;
  padding-bottom: 3.12rem;
  height: 100vh;
}

.recaptcha-style {
  opacity: 0.5;
  z-index: -100;
}

//.grecaptcha-badge { visibility: hidden; }