.hero-container {
  padding: 6.25rem 0;
  @include center;
  flex-direction: column;
  text-align: center;
  h1 {
    max-width: 16.44rem;
    margin: 0;
  }
  h1, span {
    font-family: $font-family-title;
    font-size: 2rem;
    font-weight: 700;
  }
  span {
    margin: 0;
    color: $logo-blue;
  }
}

@include tablet {
  .hero-container{
    h1, span {
      font-size: 3.75rem;
      
    }
    h1 {
      max-width: 31.75rem;
      
    }
  }
}

@include desktop {
  .hero-container {
    padding-top: 12.25rem;
    padding-bottom: 0;
    h1 {
      max-width: 90rem;
      height: calc(100vh - 12.75rem);
    }
    h1, span {
      font-size: 4.37rem;
    }
  }
}
