.about-container {
  padding: 6.25rem 0 12.5rem 0;
  @include center;
  flex-direction: column;
  h2 {
    max-width: 16.44rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  h2,
  span {
    font-family: $font-family-title;
    font-weight: 700;
  }
  p {
    color: $gray;
    font-size: 1.56rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    text-align: justify;
  }
}

@include tablet {
  .about-container {
    h2 {
      font-size: 3.45rem;
      max-width: 31.75rem;
    }
    p {
      max-width: 31.75rem;
    }
  }
}

@include desktop {
  .about-container {
    padding-top: 0;
    h2 {
      font-size: 3.75rem;
      width: 100%;
    }
    p,
    h2 {
      max-width: 65.25rem;
    }
  }
}
