.footer-container {
  background: $cards-filter;
  padding-top: 1.56rem;
  @include center;
  flex-direction: column;
  font-size: 0.75rem;
  .copyright {
    display: flex;
    text-align: center;
    align-items:flex-end;
    margin-bottom: 0.5rem;
    p {
      margin: 0 0.12rem;
    }
  }
}
