$background: rgba(0, 0, 0, 0.7);
$lenear-blue: linear-gradient(180deg, rgba(15, 92, 240, 0.69) 0%, rgba(31, 38, 206, 0) 100%);
$icons: linear-gradient(180deg, rgba(0, 240, 255, 0) 0%, rgba(0, 0, 0, 0) 100%),
  linear-gradient(0deg, rgba(31, 41, 158, 0.6) 19%, rgba(0, 0, 0, 0) 89%), #00f0ff;
$black: #393232;
$gray: #d5c9c9;
$white: #fff;
$modal-menu: linear-gradient(292deg, #263a58 27.51%, rgba(38, 58, 88, 0) 100.55%),
  linear-gradient(356deg, #8cabc2 70.65%, rgba(140, 171, 194, 0) 113.29%);
$lenear-submit: linear-gradient(0deg, rgba(15, 92, 240, 0.69) 0%, rgba(31, 38, 206, 0.00) 143.42%);
$cards-filter: linear-gradient(280deg, rgba(38, 58, 88, 0.2) 41.35%, rgba(38, 58, 88, 0) 103.72%),
  linear-gradient(183deg, #8cabc2 -112.66%, rgba(140, 171, 194, 0) 52.3%);
$logo-blue: #409AED;