* {
  font-family: $font-family-text;
  color: $white;
  font-weight: 400;
}

body {
  margin: 2rem 0 0 0;
  background: $background;
  margin: 0;
}

#root {
  width: 100%;
  @include center;
  flex-direction: column;
}

@include desktop {
  .main-container {
    max-width: 1440px;
  }
}