.tags-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.62rem;
}

.tags-style {
  border: 0.18rem solid $gray;
  border-radius: 0.94rem;
  padding: 0.31rem 0.94rem;
  font-size: 0.75rem;
  color: $black;
}

.tag-front-end {
  color: rgba(41, 168, 41, 0.744);
}

.tag-back-end {
  color: rgba(15, 94, 240, 0.756);
}
.tag-ux {
  color: rgba(211, 70, 70, 0.767);
}

.tags-project-style {
  background: $white;
}

@include desktop {
  .tags-style {
    font-size: 1rem;
  }
}
