.tags-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.62rem;
}

.tags-style {
  border: 0.18rem solid $gray;
  border-radius: 0.94rem;
  padding: 0.31rem 0.94rem;
  font-size: 0.75rem;
  color: $black;
}

.tag-front-end {
  color: rgba(41, 167, 41, 0.766);
}

.tag-back-end {
  color: $bouton-color;
}
.tag-ux {
  color: rgba(234, 11, 11, 0.88);
}

.tags-project-style {
  background: $white;
}

@include desktop {
  .tags-style {
    font-size: 1rem;
  }
}
