.navbar-mobile-container {
  list-style: none;
  @include center;
  a {
    text-decoration: none;
    color: $white;
    font-family: $font-family-title;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.62rem 0.94rem;
    display: flex;
    align-items: center;
    gap: 0.62rem;
    &:hover {
      background: $gray;
    }
  }
}