.navbar-container {
  list-style: none;
  @include center;
}

.menu-burger:hover {
  cursor: pointer;
}

.navbar {
  display: none;
}

@include tablet {
  .menu-burger {
    display: none;
  }
  .navbar {
    display: flex;
    gap: 1rem;
    margin: 0;
    border-radius: 1.56rem;
    padding: 0.5rem 0.56rem;
    background: $cards-filter;
    border: 1px solid $white;
    transition: opacity 0.5s ease-in-out;
    flex-wrap: wrap;
    margin-top: 4.37rem;
    justify-content: center;
  }

  .navbar:hover {
    box-shadow: $navbar-shadow;
    opacity: 0.8;
  }
}

@include desktop {
  .navbar {
    margin-top: 0;
  }
}
