.project-skills-container {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.44rem;
  .h2-project-skills-style{
    font-size: 1.25rem;
    margin: 0;
  }
}

.container-source {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
