.projects-container-style {
  background: $lenear-blue;
  border-radius: 1.87rem 1.87rem;
  padding: 3.12rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  h2 {
    font-family: $font-family-title;
    font-size: 2.12rem;
    font-weight: 700;
    margin: 0;
  }
}

@include tablet {
  .projects-container {
    padding-bottom: 3.12rem;
  }
  .projects-container-style {
    max-width: 36rem;
    box-shadow: $projects-shadow;
    padding-top: 1.87rem;
    padding-bottom: 2.81rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include desktop {
  .projects-container {
    margin-left: 4.12rem;
    margin-right: 4.12rem;
  }
  .projects-container-style {
    max-width: 73.75rem;
    column-gap: 3.12rem;
    padding-bottom: 4.12rem;
    h2 {
      width: 100%;
    }
  }
  
}