.inputField {
  background: $background;
  border-radius: 0.94rem;
  border: 1px solid $gray;
  padding: 0.62rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  box-sizing: border-box;
  span {
    color: $gray;
  }
  input,
  textarea {
    background: border-box;
    border: none;
    padding: 0.62rem 0.75rem;
    font-size: 0.875rem;
    color: $gray;
    min-width: 12.25rem;
    width: 100%;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  .textarea-style {
    height: 10.87rem;
  }
  .file-style {
    height: 3.87rem;
  }
  .select-style {
    option {
      color: $black;
      width: 200px;
    }
  }
  .text-style {
    width: 100%;
  }
  .label-style {
    width: 100%;
  }
}

@include tablet {
  .inputField {
    width: 100%;
  }
}
