.inputField {
  background: $background;
  border-radius: 0.94rem;
  border: 1px solid $gray;
  padding: 0.62rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  box-sizing: border-box;
  span {
    color: $gray;
  }
  input,
  textarea {
    background: border-box;
    border: none;
    padding: 0.62rem 0.75rem;
    font-size: 0.875rem;
    color: $gray;
    min-width: 12.25rem;
    width: 100%;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }

  .file-style {
    height: 3.87rem;
  }
  .select-style {
    option {
      color: $black;
      width: 200px;
    }
  }
  .text-style {
    width: 100%;
  }
  .label-style {
    width: 100%;
  }
  input[type="file"] {
    height: 2.24rem;
  }
}

@include tablet {
  .inputField {
    width: 100%;
  }
}

.lists-style {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    margin-bottom: 10px;
  }
}

.custom-checkbox {
  border: 1px solid #ccc;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;

  &:checked + .custom-checkbox::after {
    opacity: 1;
  }
}
.custom-label {
  cursor: pointer;
  &:hover {
    color: #007bff;
  }

  &.selected {
    font-weight: bold;
    color: #007bff;
  }
}

.container-bouton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.button-edit--style {
  margin: 0;
}
